= semantic_form_for(creditor) do |f|
  = render "shared/error_messages", :target => creditor

  = hash_as_hidden_fields(pass_through)

  = f.inputs do
    = f.input :name

  = f.buttons do
    = f.commit_button
    %li= link_to "Cancel", creditors_path(pass_through)
