= content_for(:javascripts) do
  = javascript_include_tag('jquery.ui.autocomplete_from_select', 'jquery.ui.autocomplete_from_grouped_select')
  :javascript
    $(function() {
      $("#preset_creditor_name").autocompleteFromSelect({
        source: "#preset_creditor_id"
      });

      $("#preset_category_id").autocompleteFromGroupedSelect();
    });

= semantic_form_for(preset) do |f|
  = render "shared/error_messages", :target => preset

  = postback_url(:controller => 'presets')

  - pass_through.each do |k,v|
    = hidden_field_tag k, v

  = f.inputs do
    = f.input :keyphrase
    = f.input :creditor, :include_blank => true
    = f.input :creditor_name, :label => "Or create one"
    = f.input :category, :collection => Category.children, :include_blank => true, :group_by => :parent, :group_association => :children

  = f.buttons do
    = f.commit_button
    - unless must_be_a_sidebar?(:controller => 'presets')
      -# No Cancel link if displayed in the sidebar.
      %li= link_to "Cancel", presets_path(pass_through)