%tr[category]{ :class => "#{cycle('odd', 'even')}"}
  %td= category.name
  - unless params[:roots]
    %td= category.parent.name
  %td.debit
    - if category.debit < 0
      = visual_amount(category.debit, Category.max)
  %td.credit
    - if category.credit > 0
      = visual_amount(category.credit, Category.max)
  %td.total
    - unless category.total == 0
      = visual_amount(category.total, Category.max)

  %td
    = link_to('Edit', edit_category_path(category, pass_through)) + " | "
    = link_to 'Destroy', category_path(category, pass_through.merge(:destroy => true)), :confirm => 'Are you sure?', :method => :delete