= semantic_form_for(category) do |f|
  = render "shared/error_messages", :target => category

  = postback_url(:controller => 'categories')

  - pass_through.each do |k,v|
    = hidden_field_tag k, v

  = f.inputs do
    = f.input :name
    = category_parent_input f, category

  = f.buttons do
    = f.commit_button
    - unless must_be_a_sidebar?(:controller => 'categories')
      -# No Cancel link if displayed in the sidebar.
      %li= link_to "Cancel", categories_path(pass_through)
