= semantic_form_for(category) do |f|
  = render "shared/error_messages", :target => category

  - pass_through.each do |k,v|
    = hidden_field_tag k, v

  = f.inputs do
    = f.input :name
    = category_parent_input f, category

  = f.buttons do
    = f.commit_button
    %li= link_to "Cancel", categories_path(pass_through)
