= semantic_form_for @upload, :html => {:multipart => true} do |f|
  = render "shared/error_messages", :target => @upload

  = f.inputs do
    = f.input :xls, :label => "File"

  = f.buttons do
    = f.commit_button "Save"
    %li= link_to "Cancel", uploads_path
