= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create(new_upload_path, 'New Upload') do
    .content
      %h2 Add a new Upload
      = render :partial => 'layouts/flashes'
      %p
        %b File name:
        = @upload.tab.original_filename
      %p
        %b Downloaded at:
        = l(@upload.downloaded_at, :format => :long)

      %p
        %b Upload details count:
        = @upload.upload_details.count

- content_for :sidebar do
  .block
    %h3 Header
    .content
      %ul
        %li= link_to "Expenses", upload_expenses_path(@upload)
        %li Bar