%tr[expense]{ :class => "#{cycle('odd', 'even')}"}
  %td= l(expense.transaction_date, :format => :default)
  %td= expense.creditor.try(:name)
  %td= expense.category.try(:name)
  %td.debit
    - if expense.transaction_amount.negative?
      = number_to_currency(expense.transaction_amount, :unit => '')
  %td.credit
    - if expense.transaction_amount.positive?
      = number_to_currency(expense.transaction_amount, :unit => '')
  %td.balance= number_to_currency(expense.balance, :unit => '')
  %td
    = link_to('Edit', edit_bank_account_expense_path(@bank_account, expense))