= content_for(:javascripts) do
  = javascript_include_tag('jquery.ui.autocomplete_from_select')
  :javascript
    $(function() {
      $("#expense_creditor_name").autocompleteFromSelect({
        source: "#expense_creditor_id"
      });
    });

= semantic_form_for @expense do |f|
  = render "shared/error_messages", :target => @expense

  = f.inputs do
    = f.input :transaction_date, :input_html => { :disabled => true }
    = f.input :transaction_amount, :input_html => { :disabled => true }
    = f.input :description, :input_html => { :disabled => true }

  = f.inputs do
    = f.input :creditor, :include_blank => true
    = f.input :creditor_name, :label => "Or create one"

  = f.buttons do
    = f.commit_button
    %li= link_to "Cancel", bank_account_expenses_path(@bank_account)
