= content_for(:javascripts) do
  = javascript_include_tag('jquery.ui.autocomplete_from_select', 'jquery.ui.autocomplete_from_grouped_select')
  :javascript
    $(function() {
      $("#expense_creditor_name").autocompleteFromSelect({
        source: "#expense_creditor_id"
      });

      $("#expense_category_id").autocompleteFromGroupedSelect();
    });

= semantic_form_for([bank_account, expense]) do |f|
  = render "shared/error_messages", :target => expense

  = hash_as_hidden_fields(pass_through)

  = f.inputs do
    = f.input :transaction_date, :input_html => { :disabled => true }
    = f.input :transaction_amount, :input_html => { :disabled => true }
    = f.input :description, :as => :text, :input_html => { :disabled => true }

  = f.inputs do
    = f.input :creditor, :include_blank => true
    = f.input :creditor_name, :label => "Or create one"
    = f.input :category, :collection => Category.children, :include_blank => true, :group_by => :parent, :group_association => :children

  = f.buttons do
    = f.commit_button
    %li= link_to "Cancel", bank_account_expenses_path(bank_account, pass_through)
