- title "Listing Expenses"
= form_tag presets_bank_account_expenses_path(bank_account), :method => :put do
  = action_bar_section expenses do
    - pass_through.each do |k,v|
      = hidden_field_tag k, v
    %table.table
      %tr
        %th= check_box_tag "toggle_all"
        %th Date
        %th
          Creditor/Category
        %th.description Description
        %th.debit Debit
        %th.credit Credit
        %th.balance Balance
      = render expenses, :bank_account => bank_account, :max_balance => max_balance, :pass_through => pass_through
