%ul.secondary-navigation.tabs
  %li= link_to("Expenses", "#", :class => 'tab current')
  %li= link_to("Chart", "#", :class => 'tab')
  %li= link_to("Credit", "#", :class => 'tab')
  %li= link_to("Debit", "http://www.nu.nl", :class => 'tab')
.panes
  = render :partial => 'index', :locals => { :expenses => @expenses, :bank_account => @bank_account, :max_balance => @max_balance, :pass_through => @pass_through }, :layout => 'shared/block_content'
  = render :partial => 'expenses_tab', :locals => { :bank_account => @bank_account }
  = render :partial => 'debits_and_credits_tabs', :locals => { :categories_chart => @categories_chart }
= form_for @search, :url => bank_account_expenses_path(@bank_account), :html => {:class => "search"} do |f|
  %p
    = f.search_field :description_like, :placeholder => "Search..."
    = f.submit "Search"

- content_for :sidebar do
  .block
    %h3 Accounts
    .content
      %ul
        - @bank_accounts.each do |bank_account|
          %li{:title => bank_account.description}
            - if bank_account == @bank_account
              = "#{bank_account}"
            - else
              = link_to("#{bank_account}", bank_account_expenses_path(bank_account, :upload_id => @upload))
