- content_for :secondary_navigation do
  %li= link_to 'New Upload', new_upload_path

- content_for :sidebar do
  .block
    %h3 Accounts
    .content
      %ul
        - @bank_accounts.each do |bank_account|
          %li
            - if bank_account == @bank_account
              = "#{bank_account}"
            - else
              = link_to("#{bank_account}", bank_account_expenses_path(bank_account, :upload_id => @upload))

- title 'Listing Expenses'

%table.table
  %tr
    %th Transaction date
    %th Creditor
    %th Category
    %th.debit Debit
    %th.credit Credit
    %th.balance Balance
    %th
  = render @expenses

.action-bars
  -# A button will be placed in the near future?
  &nbsp;
  = will_paginate @expenses
