= tabs_for(:class => 'secondary-navigation') do |tab|
  - tab.create('table_container', 'Expenses') do
    = render :partial => 'index', :locals => { :expenses => @expenses, :bank_account => @bank_account, :pass_through => @pass_through }, :layout => 'shared/block_content'

  = render :partial => 'expenses_tab', :locals => { :tab => tab, :bank_account => @bank_account }
  = render :partial => 'debits_and_credits_tabs', :locals => { :tab => tab, :categories_chart => @categories_chart }

- content_for :sidebar do
  .block
    %h3 Accounts
    .content
      %ul
        - @bank_accounts.each do |bank_account|
          %li{:title => bank_account.description}
            - if bank_account == @bank_account
              = "#{bank_account}"
            - else
              = link_to("#{bank_account}", bank_account_expenses_path(bank_account, :upload_id => @upload))

- content_for(:javascripts) do
  :javascript
    $(function () {
      $("#tabs").tabs();
      $("#tabs").removeClass('secondary-navigation');
    });