!!!
%html
  = render :partial => 'layouts/head'

  %body
    #container
      %header
        &nbsp;
        %h1{:role => 'banner'}= link_to "ABN AMRO on Rails", root_path
        %nav#main-navigation
          %ul
            %li{:class => controller.controller_name == 'bank_accounts' && 'active' }= link_to "Bank Accounts", bank_accounts_path
            %li{:class => controller.controller_name == 'expenses' && 'active' }= link_to "Expenses", expenses_path
            %li{:class => controller.controller_name == 'categories' && 'active' }= link_to "Categories", categories_path(:roots => true)
            %li{:class => controller.controller_name == 'creditors' && 'active' }= link_to "Creditors", creditors_path
            %li{:class => controller.controller_name == 'uploads' && 'active' }= link_to "Uploads", uploads_path

      %section#content
        .block= yield

      %aside= yield(:sidebar)

    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'