!!!
%html
  = render :partial => 'layouts/head'

  %body
    #container
      %header
        &nbsp;
        %h1{:role => 'banner'}= link_to "ABN AMRO on Rails", root_path
        %nav#main-navigation
          %ul
            =li_active_unless(link_to("Bank Accounts", bank_accounts_path),           :controller => 'bank_accounts')
            =li_active_unless(link_to("Expenses", expenses_path),                     :controller => 'expenses')
            =li_active_unless(link_to("Categories", categories_path(:roots => true)), :controller => 'categories')
            =li_active_unless(link_to("Creditors", creditors_path),                   :controller => 'creditors')
            =li_active_unless(link_to("Presets", presets_path),                       :controller => 'presets')
            =li_active_unless(link_to("Uploads", uploads_path),                       :controller => 'uploads')

      %section#content
        .block= yield

      %aside= yield(:sidebar)

    -# Javascript at the bottom for fast page loading
    = render :partial => 'layouts/javascripts'